<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2010, 2016 Mia-Software, CEA LIST, and Soft-Maint.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Nicolas Bros (Mia-Software) - Bug 331203 - table model editor - design and implementation    
     Nicolas Bros (Mia-Software) - Bug 331520 - view query result in NatTable
     Nicolas Bros (Mia-Software) - Bug 332226 - To be able to create or delete model element from the table
     Nicolas Guyomar (Mia-Software) - Bug 332226 - To be able to create or delete model element from the table
     Nicolas Bros  (Mia-Software) - Bug 331675 - NatTable : copy cells as text
     Nicolas Guyomar (Mia-Software) - Bug 332924 - The user must be able to save which EMF objects are contained in a table
 	 Nicolas Guyomar (Mia-Software) - Bug 335020 - Nattable widget should use the Eclipse framework
 	 Vincent Lorenzo (CEA LIST) - Bug 335020 - Nattable widget should use the Eclipse framework
 	 Nicolas Guyomar (Mia-Software) - Bug 337454 - We can't delete a query Column 
 	 Vincent Lorenzo (CEA-LIST) - Bug 337408 - Add an action to sort columns by name
 	 Nicolas Guyomar (Mia-Software) - Bug 340681 - Facet column implementation
 	 Vincent Lorenzo (CEA-LIST) - Bug 335982 - Change the icon for Select Columns To Hide
 	 Gregoire Dupe (Mia-Software) - Bug 366804 - [Restructuring] Table widget upgrade
 	 Nicolas Bros (Mia-Software) - Bug 375087 - [Table] ITableWidget.addColumn(List<ETypedElement>, List<FacetSet>)
 	 Gregoire Dupe (Mia-Software) - Bug 377782 - The command 'Navigation' and 'View in table' must not be unable in all menu.
 	 Nicolas Bros (Mia-Software) - Bug 379535 - [Table] remove "open table" action
 	 Gregoire Dupe (Mia-Software) - Bug 440618 - Table sort action unusable
 	 Jonathan Pepin (Soft-Maint) - Bug 463907 - Command for load and save Facet serialization
 	 Grégoire Dupé (Soft-Maint) - Bug 469959 - NullPointerException in SetStructuralFeatureInstanceResourceHandler.execute (42)
 	 Grégoire Dupé (Mia-Software) - Bug 480901 - A default result displayer should be provided.
 	 Jonathan Pepin (Soft-Maint) - Bug 483905 - Change icons to commands loadFacet and loadCustomization
-->
<plugin>
   <extension-point id="org.eclipse.emf.facet.widgets.table.ui.workbench.internal.delegatedTableEditorFactory" name="%extension-point.name" schema="schema/delegatedTableEditorFactory.exsd"/>
   <extension
         id="org.eclipse.emf.facet.widgets.table.ui.workbench.view.TableView"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.emf.facet.common.ui.views"
            class="org.eclipse.emf.facet.widgets.table.ui.workbench.internal.view.TableView"
            icon="icons/MoDiscoModelIcon.gif"
            id="org.eclipse.emf.facet.widgets.table.ui.workbench.view.TableView"
            name="%nattable.view.name"
            restorable="false">
      </view>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.facet.widgets.table.ui.workbench.internal.editor.TableEditor"
            contributorClass="org.eclipse.emf.facet.widgets.table.ui.workbench.internal.editor.NatTableEditorActionBarContribution"
            default="false"
            icon="icons/MoDiscoModelIcon.gif"
            id="org.eclipse.emf.facet.widgets.table.ui.workbench.editor.TableEditor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.facet.widgets.table.metamodel.tableinstance.v0_2_0">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         name="%extension.name.0"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.emf.facet.widgets.table.ui.workbench.view.TableView">
         <command
               commandId="org.eclipse.emf.facet.widgets.table.exportCommand"
               icon="icons/export.gif"
               style="push"
               tooltip="%export.xmi">
         </command>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.loadCustomizationCommand"
               icon="icons/load-custo.gif"
               style="push"
               tooltip="%load.customization">
         </command>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.loadFacetCommand"
               icon="icons/load-facet.gif"
               style="push"
               tooltip="%load.emf.facet">
         </command>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.hideColumnCommand"
               icon="icons/select_columns_to_hide.png"
               style="push"
               tooltip="%select.column.to.hide">
         </command>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.createNewElementCommand"
               icon="IMG_OBJ_ADD"
               style="pulldown"
               tooltip="%create.new.element">
         </command>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.sortColumnByTypeCommand"
               icon="icons/sort_links_by_type.gif"
               style="push"
               tooltip="%sort.column.by.type">
         </command>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.sortColumnByNameAToZCommand"
               icon="icons/sort_columns_by_name_A_to_Z.gif"
               style="push"
               tooltip="%command.tooltip">
         </command>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.sortColumnByNameZToACommand"
               icon="icons/sort_columns_by_name_Z_to_A.gif"
               style="push"
               tooltip="%command.tooltip.0">
         </command>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.setPresentabilityQueryCommand"
               icon="icons/presentabilityQuery.gif"
               style="push"
               tooltip="%setPresentabilityQuery.command.tooltip">
         </command>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.addColumnsCommand"
               icon="icons/addColumn.png"
               style="push"
               tooltip="%addColumns">
         </command>
         <command
               commandId="org.eclipse.emf.facet.efacet.ui.saveStructuralFeatureInstanceModel"
               icon="icons/save-facet-serializ.gif"
               style="push">
         </command>
         <command
               commandId="org.eclipse.emf.facet.efacet.ui.setStructuralFeatureInstanceResource"
               icon="icons/open-facet-serializ.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.emf.facet.widgets.table.ui.workbench.view.TableView">
         <command
               commandId="org.eclipse.ui.edit.delete"
               disabledIcon="IMG_ETOOL_DELETE_DISABLED"
               icon="IMG_ETOOL_DELETE"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               disabledIcon="IMG_TOOL_COPY_DISABLED"
               icon="IMG_TOOL_COPY"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.selectAll"
               style="push">
         </command>
         <separator
               name="org.eclipse.emf.facet.widgets.table.ui.workbench.columnaction.separator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.ascendingSortByColumn"
               label="Ascending Sort by this Column"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.descendingSortByColumn"
               label="Descending Sort by this Column"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <separator
               name="org.eclipse.emf.facet.widgets.table.ui.workbench.rowaction.separator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.removeLineCommand"
               disabledIcon="icons/remove_line_disabled.gif"
               icon="icons/remove_line.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <separator
               name="org.eclipse.emf.facet.widgets.table.ui.workbench.tableaction.separator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.loadFacetCommand"
               icon="icons/facet.gif"
               style="push"
               tooltip="%load.emf.facet">
         </command>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.addColumnsCommand"
               icon="icons/addColumn.png"
               style="push">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         name="%nattable.view.menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.emf.facet.widgets.table.ui.workbench.editor.TableEditor">
         <command
               commandId="org.eclipse.ui.edit.delete"
               disabledIcon="IMG_ETOOL_DELETE_DISABLED"
               icon="IMG_ETOOL_DELETE"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               disabledIcon="IMG_TOOL_COPY_DISABLED"
               icon="IMG_TOOL_COPY"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.selectAll"
               style="push">
         </command>
         <separator
               name="org.eclipse.emf.facet.widgets.table.ui.workbench.columnaction.separator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.ascendingSortByColumn"
               label="Ascending Sort by this Column"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.descendingSortByColumn"
               label="Descending Sort by this Column"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <separator
               name="org.eclipse.emf.facet.widgets.table.ui.workbench.rowaction.separator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.removeLineCommand"
               disabledIcon="icons/remove_line_disabled.gif"
               icon="icons/remove_line.gif"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <separator
               name="org.eclipse.emf.facet.widgets.table.ui.workbench.tableaction.separator"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.addColumnsCommand"
               icon="icons/addColumn.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.emf.facet.widgets.table.loadFacetCommand"
               icon="icons/facet.gif"
               style="push"
               tooltip="%load.emf.facet">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.emf.facet.widgets.table.workbench.editor.NatTableEditor.toolbar"
               label="%toolbar.label">
            <command
                  commandId="org.eclipse.emf.facet.widgets.table.createNewElementCommand"
                  icon="IMG_OBJ_ADD"
                  style="pulldown"
                  tooltip="%create.new.element">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePart">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.table.loadCustomizationCommand"
                  icon="icons/uiCustom.gif"
                  style="push"
                  tooltip="%load.customization">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePart">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.table.loadFacetCommand"
                  icon="icons/facet.gif"
                  style="push"
                  tooltip="%load.emf.facet">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePart">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.table.hideColumnCommand"
                  icon="icons/select_columns_to_hide.png"
                  style="push"
                  tooltip="%select.column.to.hide">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePart">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.table.sortColumnByTypeCommand"
                  icon="icons/sort_links_by_type.gif"
                  style="push"
                  tooltip="%sort.column.by.type">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePart">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.table.sortColumnByNameAToZCommand"
                  icon="icons/sort_columns_by_name_A_to_Z.gif"
                  style="push"
                  tooltip="%command.tooltip.1">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePart">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.table.sortColumnByNameZToACommand"
                  icon="icons/sort_columns_by_name_Z_to_A.gif"
                  style="push"
                  tooltip="%sortColumnsByNameZA.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePart">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.table.setPresentabilityQueryCommand"
                  icon="icons/presentabilityQuery.gif"
                  style="push"
                  tooltip="%setPresentabilityQuery.command.tooltip">
               
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePart">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.table.addColumnsCommand"
                  icon="icons/addColumn.png"
                  style="push"
                  tooltip="%addColumns">
               <visibleWhen checkEnabled="false">
                  <with variable="activePart">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.efacet.ui.saveStructuralFeatureInstanceModel"
                  icon="icons/save-facet-serializ.gif"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePart">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.efacet.ui.setStructuralFeatureInstanceResource"
                  icon="icons/open-facet-serializ.gif"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePart">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
      <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.facet.widgets.table.ui.workbench.internal.handler.ViewInTableHandler"
            description="%command.description"
            id="org.eclipse.emf.facet.widgets.table.ui.workbench.command1"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.emf.facet.widgets.table.ui.workbench.command1"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.emf.facet.widgets.table.ui.workbench.internal.delegatedTableEditorFactory">
      <factory
            class="org.eclipse.emf.facet.widgets.table.ui.workbench.internal.editor.DelegatedTableEditorFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.facet.efacet.ui.eTypedElementResultDisplay">
      <displayer
            class="org.eclipse.emf.facet.widgets.table.ui.workbench.internal.ETypedElementResultDisplayer">
      </displayer>
   </extension>
</plugin>
