<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aeri -->
      <package
            uri="https://www.eclipse.org/epp/logging/aeri/core/2.0"
            class="org.eclipse.epp.logging.aeri.core.IModelPackage"/>
   </extension>
</plugin>
