<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
Copyright (c) 2012 Mia-Software.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
   Gregoire Dupe (Mia-Software) - Bug 372626 - Aggregates
   Gregoire Dupe (Mia-Software) - Bug 375087 - [Table] ITableWidget.addColumn(List<ETypedElement>, List<FacetSet>)
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/facet/aggregate/0.2.incubation/aggregate"
            class="org.eclipse.emf.facet.aggregate.metamodel.notgenerated.internal.AggregatePackage"
            />
   </extension>
   <extension
         point="org.eclipse.emf.facet.efacet.core.internal.resolver">
      <resolver
            class="org.eclipse.emf.facet.aggregate.metamodel.notgenerated.internal.Resolver">
      </resolver>
   </extension>
</plugin>
