<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2010 CEA LIST
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Nicolas Guyomar (Mia-Software) - Bug 335020 - Nattable widget should use the Eclipse framework
     Nicolas Guyomar (Mia-Software) - Bug 337454 - We can't delete a query Column
     Nicolas Guyomar (Mia-Software) - Bug 339899 - everything must be externalized before UI freeze
     Nicolas Guyomar (Mia-Software) - Bug 340940 - To be able to view facet attributes and facet references in a table
     Vincent Lorenzo (CEA-LIST) - bug 337408 - Add an action to sort columns by name
     Nicolas Guyomar (Mia-Software) - Bug 336482 - KeyBinding to edit element in Table : F2 
     Vincent Lorenzo (CEA-LIST) - Bug 341238: We need to be able to specify which column have to be hidden/visible using the customization mechanism
     Gregoire Dupe (Mia-Software) - Bug 366804 - [Restructuring] Table widget upgrade
     Gregoire Dupe (Mia-Software) - Bug 367613 - Table widget refactoring
     Nicolas Bros (Mia-Software) - Bug 375087 - [Table] ITableWidget.addColumn(List<ETypedElement>, List<FacetSet>)
     Nicolas Bros (Mia-Software) - Bug 379535 - [Table] remove "open table" action
     Gregoire Dupe (Mia-Software) - Bug 388422 - [Table] Queries for InstanciationMethod needs to have 2 parameters
     Gregoire Dupe (Mia-Software) - Bug 440618 - Table sort action unusable
-->
<plugin>
   <extension-point id="org.eclipse.emf.facet.widgets.table.ui.internal.viewimpl" name="%extension-point.name" schema="schema/viewimpl.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.description"
            id="org.eclipse.emf.facet.widgets.table.command.category"
            name="%emf.facet.category.name">
      </category>
      <command
            categoryId="org.eclipse.emf.facet.widgets.table.command.category"
            id="org.eclipse.emf.facet.widgets.table.exportCommand"
            name="%export.table">
      </command>
      <command
            categoryId="org.eclipse.emf.facet.widgets.table.command.category"
            defaultHandler="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.LoadCustomizationsHandler"
            id="org.eclipse.emf.facet.widgets.table.loadCustomizationCommand"
            name="%load.customization">
      </command>
      <command
            categoryId="org.eclipse.emf.facet.widgets.table.command.category"
            defaultHandler="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.LoadFacetHandler"
            id="org.eclipse.emf.facet.widgets.table.loadFacetCommand"
            name="%load.facet">
      </command>
      <command
            categoryId="org.eclipse.emf.facet.widgets.table.command.category"
            defaultHandler="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.HideColumnsHandler"
            id="org.eclipse.emf.facet.widgets.table.hideColumnCommand"
            name="%hide.columns">
      </command>
      <command
            categoryId="org.eclipse.emf.facet.widgets.table.command.category"
            defaultHandler="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.RemoveLineHandler"
            id="org.eclipse.emf.facet.widgets.table.removeLineCommand"
            name="%remove.line">
      </command>
      <command
            categoryId="org.eclipse.emf.facet.widgets.table.command.category"
            defaultHandler="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.AddQueryColumnHandler"
            id="org.eclipse.emf.facet.widgets.table.addColumnsCommand"
            name="%add.query.column">
      </command>
      <command
            categoryId="org.eclipse.emf.facet.widgets.table.command.category"
            defaultHandler="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.CreateNewElementHandler"
            id="org.eclipse.emf.facet.widgets.table.createNewElementCommand"
            name="%create.new.element">
      </command>
      <command
            categoryId="org.eclipse.emf.facet.widgets.table.command.category"
            defaultHandler="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.LaunchInstantiationMethodHandler"
            id="org.eclipse.emf.facet.widgets.table.launchInstantiationMethod"
            name="%default.instantiation.method">
      </command>
      <command
            categoryId="org.eclipse.emf.facet.widgets.table.command.category"
            defaultHandler="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.SortColumnByTypeHandler"
            id="org.eclipse.emf.facet.widgets.table.sortColumnByTypeCommand"
            name="%sort.column.by.type">
      </command>
      <command
            categoryId="org.eclipse.emf.facet.widgets.table.command.category"
            defaultHandler="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.SortColumnByNameAtoZHandler"
            id="org.eclipse.emf.facet.widgets.table.sortColumnByNameAToZCommand"
            name="%command.name">
      </command>
       <command
            categoryId="org.eclipse.emf.facet.widgets.table.command.category"
            defaultHandler="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.SortColumnByNameZtoAHandler"
            id="org.eclipse.emf.facet.widgets.table.sortColumnByNameZToACommand"
            name="%command.name.0">
      </command>
      <command
            categoryId="org.eclipse.emf.facet.widgets.table.command.category"
            defaultHandler="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.SetPresentabilityQueryHandler"
            id="org.eclipse.emf.facet.widgets.table.setPresentabilityQueryCommand"
            name="%setPresentability.command.name">
      </command>
      <command
            defaultHandler="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.SortByColumnHandler"
            id="org.eclipse.emf.facet.widgets.table.ascendingSortByColumn"
            name="Ascending Sort">
      </command>
      <command
            defaultHandler="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.SortByColumnHandler"
            id="org.eclipse.emf.facet.widgets.table.descendingSortByColumn"
            name="Descending Sort">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.SelectAllHandler"
            commandId="org.eclipse.ui.edit.selectAll">
         <activeWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                     value="true">
               </test>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                     value="true">
               </test>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                     value="true">
               </test>
            </with>
         </activeWhen>
            
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.ExportCommandHandler"
            commandId="org.eclipse.emf.facet.widgets.table.exportCommand">
         <activeWhen>
            <and>
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableView"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.LoadCustomizationsHandler"
            commandId="org.eclipse.emf.facet.widgets.table.loadCustomizationCommand">
         <activeWhen>
            <and>
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.LoadFacetHandler"
            commandId="org.eclipse.emf.facet.widgets.table.loadFacetCommand">
         <activeWhen>
            <and>
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.HideColumnsHandler"
            commandId="org.eclipse.emf.facet.widgets.table.hideColumnCommand">
         <activeWhen>
            <and>
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.RemoveLineHandler"
            commandId="org.eclipse.emf.facet.widgets.table.removeLineCommand">
         <activeWhen>
            <and>
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.AddQueryColumnHandler"
            commandId="org.eclipse.emf.facet.widgets.table.addColumnsCommand">
         <activeWhen>
            <and>
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.CreateNewElementHandler"
            commandId="org.eclipse.emf.facet.widgets.table.createNewElementCommand">
         <activeWhen>
            <and>
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.LaunchInstantiationMethodHandler"
            commandId="org.eclipse.emf.facet.widgets.table.launchInstantiationMethod">
         <activeWhen>
            <and>
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.SortColumnByTypeHandler"
            commandId="org.eclipse.emf.facet.widgets.table.sortColumnByTypeCommand">
         <activeWhen>
            <and>
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.SortColumnByNameAtoZHandler"
            commandId="org.eclipse.emf.facet.widgets.table.sortColumnByNameAToZCommand">
         <activeWhen>
            <and>
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.SortColumnByNameZtoAHandler"
            commandId="org.eclipse.emf.facet.widgets.table.sortColumnByNameZToACommand">
         <activeWhen>
            <and>
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester.isTableEditor"
                        value="true">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.EditHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                     value="true">
               </test>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.handler.SetPresentabilityQueryHandler"
            commandId="org.eclipse.emf.facet.widgets.table.setPresentabilityQueryCommand">
         
         <activeWhen>
            <and>
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester.isTable"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
 <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.expression.TableTester"
            id="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester"
            namespace="org.eclipse.emf.facet.widgets.table.workbench.tableSelectionTester"
            properties="isTable"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.expression.TableTester"
            id="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester"
            namespace="org.eclipse.emf.facet.widgets.table.workbench.tablePartTester"
            properties="isTableEditor, isTableView"
            type="org.eclipse.ui.IWorkbenchPart">
      </propertyTester>
   </extension>
   <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.emf.facet.common.ui.preference.pages.EmfFacetRootPreferencePage"
          class="org.eclipse.emf.facet.widgets.table.ui.internal.widget.preferences.TableWidgetPreferencePage"
          id="org.eclipse.emf.facet.widgets.table.TableWidgetPreferencePage"
          name="%page.name">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.eclipse.emf.facet.widgets.table.ui.internal.widget.preferences.PreferenceInitializer">
    </initializer>
 </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.emf.facet.widgets.table.createNewElementCommand">
         <command
               commandId="org.eclipse.emf.facet.widgets.table.launchInstantiationMethod"
               icon="IMG_OBJ_ADD"
               style="push">
         </command>
         <separator
               name="org.eclipse.emf.facet.widgets.table.ui.workbench.separator1"
               visible="true">
         </separator>
         <dynamic
               class="org.eclipse.emf.facet.widgets.table.ui.internal.workbench.menu.CreateNewElementContributionItem"
               id="org.eclipse.emf.facet.widgets.table.ui.workbench.dynamicCreateNewElementMenu">
         </dynamic>
      </menuContribution>
   </extension>
</plugin>
