<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2015 Eike Stepper (Berlin, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.userstorage.credentialsProviders">
      <credentialsProvider class="org.eclipse.userstorage.ui.internal.DialogCredentialsProvider"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.userstorage.ui.internal.OverviewPreferencePage"
            id="org.eclipse.userstorage.ui.PreferencePage"
            name="User Storage Service">
         <keywordReference
               id="org.eclipse.userstorage.keyword.uss"/>
         <keywordReference
               id="org.eclipse.userstorage.keyword.accounts"/>
         <keywordReference
               id="org.eclipse.userstorage.keyword.eclipseuss"/>
      </page>
      <page category="org.eclipse.userstorage.ui.PreferencePage"
            class="org.eclipse.userstorage.ui.internal.ServicesPreferencePage"
            id="org.eclipse.userstorage.ui.ServicesPreferencePage"
            name="Services (legacy)"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.userstorage.ui.showPullDown"
            categoryId="org.eclipse.ui.category.help"
            name="Show Pull Down Menu"
            defaultHandler="org.eclipse.userstorage.ui.internal.ShowPullDownMenu">
         <commandParameter
               id="intoolbar"
               name="In Tool Bar"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.userstorage.keyword.uss"
            label="USS">
      </keyword>
      <keyword
            id="org.eclipse.userstorage.keyword.accounts"
            label="Accounts">
      </keyword>
      <keyword
            id="org.eclipse.userstorage.keyword.eclipseuss"
            label="Eclipse User Storage Service">
      </keyword>
   </extension>

</plugin>
