<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
    Copyright (c) 2012-2014 Mia-Software.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Gregoire Dupe (Mia-Software) - Bug 372243 - Facet extending EObject to provide eClass(), eContainer(), etc.
        Thomas Cicognani (Soft-Maint) - Bug 442709 - Split EObjectExt FacetSet in 4 FacetSets
 -->

<plugin>
   <extension point="org.eclipse.emf.facet.util.emf.core.modeldeclaration">
      <modeldeclaration
            file="resources/eclass.efacet">
      </modeldeclaration>
      <modeldeclaration
            file="resources/econtainer.efacet">
      </modeldeclaration>
      <modeldeclaration
            file="resources/self.efacet">
      </modeldeclaration>
      <modeldeclaration
            file="resources/uri.efacet">
      </modeldeclaration>
   </extension>
</plugin>
